[Desktop Entry]
Version=1.0
Type=Link
Name=index.html
Comment=
Icon=user-bookmarks
URL=https://github.com/giullianacestari/js-gerador-de-senhas/blob/aula9/index.html
