[Desktop Entry]
Version=1.0
Type=Link
Name=style.css
Comment=
Icon=user-bookmarks
URL=https://github.com/giullianacestari/js-gerador-de-senhas/blob/aula9/style.css
