[Desktop Entry]
Version=1.0
Type=Link
Name=unlock.svg
Comment=
Icon=user-bookmarks
URL=https://github.com/giullianacestari/js-gerador-de-senhas/blob/aula9/unlock.svg
